*{
    padding: 0;
    margin: 0;
}
.mywebname{

    background-color: transparent; 
    /* font-family: 'Pacifico', cursive;  */
     color:#ff9f00;
     
}

.myheader{
        /* background: #12372A; */
        background-image: url(../Images/four.jpg);
}

.Mytext{
    color:wheat;
    font-family: monospace;
    font-size: 50px;
}
.Mynav{
    color:black;
    font-weight:600;
}
.Mynav:hover{
    color:#ff9f00;
}
.myfooter{
  
    display: flex;
    justify-content:space-evenly;
    background-color:#000036;
    color: bisque;

    
}
 

.album { 
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-repeat: no-repeat;
  
} 

.myusesection{
   
    list-style: none;
    text-decoration: none;
    color: bisque;
}
.myusesection:hover{

    color:#ff9f00;
   
}
.mainbody{

    height: 600px;
    width: 100%;
    /* background-color:bisque; */
    /* background-image: url(image/four.jpg); */
    /* background-image: url(image/five.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.deshead{
    margin-left: 40px;
}

.mydescard{

    display: flex;
    justify-content: space-evenly;

  
}
.Myabouttext{

    font-size: large;
   padding: 20px;

}

.contectimage{

    /* background-image: url("/image/contectimage.jpeg"); */
    height:300px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contectcomponent li{

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}
.width{
    width: 18rem;
}